# Files: Excluding all
*.*
# Folders: Excluding all
*/*
#.gradle
#.gradle/**/*
#.idea
#.idea/**/*
#local.properties
app/.gitignore

# Files: Including important
!.gitignore
# Files: Including java Backend Classes
# !app/
!app/**/main/
!app/**/main/**/*
!app/**/main/**/dm_solver/
!app/**/main/**/dm_solver/**/*
!app/src/main/java/escom/dm_solver/
!app/src/main/java/escom/dm_solver/**/*
