# Files: Excluding all
*.*
# Folders: Excluding all
#*/*
#.gradle
#.gradle/**/*
#.idea
#.idea/**/*
#local.properties
app/.gitignore
app/app.iml

# Files: Including important
!.gitignore
# Files: Including java Backend Classes
# !app/
!app/**/main/
!app/**/main/**/*
