# Files: Excluding all
#*.*
# Folders: Excluding all
#*/*
.gradle/
.gradle/**/*
.idea/
.idea/**/*
local.properties

# Files: Including important
#!.gitignore
# Files: Including java Backend Classes
#!blogic/*
#blogic/*.class
